*{
    margin: 0;
    padding: 0;
  }

color_pallete {
  --color-primary: #050206;
  --color-secondary: #2f2f2f;
  --black : #3B3B3B;

  /* ----------------------------------- */

    --color-white: #f6f6f6;
    --color-golden: #FFCB74;
    --color-black: #FFE6BC;


    /* ---------------------------------- */
    --brown: #9A8174;
    --brown-light: #E8D8C9;
    --brown-dark: #5A4A42;
    --brown-darker: #3D2F2A;

    /* ---------------------------------- */
    
    
}
